* {
    padding: 0;
    margin: 0;
}

header, footer {
    background-color: #033131;
    color: white;
    padding: 2% 0;
}

.Logo {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

Header div.Redes-Sociales {
    position: absolute;
    top: 8%;
    left: 2%;
}

.Facebook, .Instagram, .Tripadvisor {
    margin-left: 3%;
}

.Facebook {
    width: 5%;
}

.Instagram {
    width: 4.5%;
}

.Tripadvisor {
    width: 6.3%;
}

Header div.Información-Header {
    position: absolute;
    top: 8%;
    right: 5%;
    width: 22%;
}

Header div.Información-Header p {
    padding-top: 1%;
    padding-right: 3%;
    color: white;
    text-align: right;
    font-size: 110%;
}

main {
    padding: 14.2% 0;
    background-color: blanchedalmond;
}

footer div.Enlaces {
    text-align: center;
    margin-top: 2%;
    font-size: 180%;
}

footer div.Enlaces a {
    color: white;
    text-decoration: none;
    margin-right: 2%;
    margin-left: 2%;
}

footer div.Información-Footer {
    text-align: center;
    margin-top: 2.5%;
    font-size: 120%;
}